<div class="table-responsive">
<h4>trips</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Trip ID</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Cost</th>
      <th><%= member.class.name== "Passenger" ? "Driver" : "Passenger" %></th>
    </tr>
  <thead>

  <tbody>
    <% member.trips.each do |trip|  %>
      <tr class="clickable-tr" data-path="<%= trip_path(trip.id)%>">
        <td><%= trip.id %></td>
        <td><%= trip.date %></td>
        <td><%= trip.rating %></td>
        <td>$<%= trip.cost %></td>
        <td><%= member.class.name=="Passenger" ? trip.driver.name : trip.passenger.name %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>