<h1>Trip #<%= @trip.id %></h1>

<% payment_to_driver = ([@trip.cost - 1.65, 0].max * 0.8).round(2) %>

<h3>Trip Info:</h3>
<div>
  Trip ID: <%= @trip.id %> <br> 
  Date: <%= @trip.date %> <br>
  Rating: <%= @trip.rating %> <br>
  Archive Status: <%= @trip.is_archive %> <br>
  Trip Status: <%= @trip.rating ? "COMPLETE" : "IN-PROGRESS" %><br><br>

  Revenue: $<%= @trip.cost %> <br>
  Payment to Driver: $<%= payment_to_driver %> <br>
  Total Profit: $<%= (@trip.cost - payment_to_driver).round(2) %> <br><br>

  Passenger: <%= link_to "#{@trip.passenger.name} (PID: #{@trip.passenger_id}) #{@trip.passenger.is_active ? nil : "(DEACTIVATED)"}", passenger_path(@trip.passenger_id) %> <br>
  Driver: <%= link_to "#{@trip.driver.name} (PID: #{@trip.driver_id}) #{@trip.driver.is_active ? nil : "(DEACTIVATED)"}", driver_path(@trip.driver_id) %>
</div>


<div>
  <%= button_to "Click to #{@trip.is_archive ? "UNARCHIVE" : "ARCHIVE"}", trip_archive_path(@trip.id), method: :patch, data: {confirm: "Are you sure you want to #{@trip.is_archive ? "unarchive" : "archive"} Trip ##{@trip.id}? Ratings and earnings will #{@trip.is_archive ? nil : "not"} be calculated into totals and averages."} %>
  <%= button_to "DELETE", trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"} %>
</div>

<br>

<% if !@trip.is_archive %>
  <%= link_to "Edit Trip Info", edit_trip_path %>
<% end %>
