<nav class="navbar navbar-static-top">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "View Passengers", passengers_path %></li>
    <li><%= link_to "View Drivers", drivers_path  %></li>
    <li><%= link_to "Add Passenger", new_passenger_path %></li>
    <li><%= link_to "Add Driver", new_driver_path %></li>
  </ul>
</nav>
