<nav class="navbar navbar-static-top">
  <ul class="container">
    <%= link_to passengers_path do%><li>View Passengers</li><%end%>
    <%= link_to new_passenger_path do%><li>Add Passenger</li><%end%>
    <%= link_to root_path do%><li class="logo">Rideshare</li><%end%>
    <%= link_to drivers_path do%><li>View Drivers</li><%end%>
    <%= link_to new_driver_path do%><li>Add Driver</li><%end%>
  </ul>
</nav>
