<% if !member.is_active %>
  <span class="<%= style %> <%= style %>-secondary">
    <%= style == "dot" ? "&#149;".html_safe : "Deactivated"  %>
  </span> 
<% else %> 
  <% if member.has_inprogress_trip? %>
    <span class="<%= style %> <%= style %>-danger">
      <%= style == "dot" ? "&#149;".html_safe : member.class.name == "Driver" ? "Unavailable" : "in trip"  %>
    </span>
  <% else %>
    <% if member.class.name == "Driver" %>
    <span class="<%= style %> <%= style %>-success">
      <%= style == "dot" ? "&#149;".html_safe : "Available"  %>
    </span>
    <% end %>
  <% end %>
<% end%>



