<% if member.class.name == "Trip" %>
  <% if member.rating %>
    <span class="<%= style %> <%= style %>-success">
      <%= style == "dot" ? "&#149;".html_safe : "Completed"  %>
    </span> 
  <% else %>
    <span class="<%= style %> <%= style %>-info">
      <%= style == "dot" ? "&#149;".html_safe : "In-progress"  %>
    </span> 
  <% end%>
<% else %>
  <% if !member.is_active %>
    <span class="<%= style %> <%= style %>-secondary">
      <%= style == "dot" ? "&#149;".html_safe : "Deactivated"  %>
    </span> 
  <% else %> 
    <% if member.class.name == "Driver" %>
      <% if member.available %>
        <span class="<%= style %> <%= style %>-success">
          <%= style == "dot" ? "&#149;".html_safe : "Available"  %>
        </span>
      <% else %>
        <span class="<%= style %> <%= style %>-danger">
          <%= style == "dot" ? "&#149;".html_safe : "Unavailable" %>
        </span>
      <% end %>
    <% elsif member.has_inprogress_trip? %>
      <span class="<%= style %> <%= style %>-danger">
        <%= style == "dot" ? "&#149;".html_safe : "in trip" %>
      </span>
    <% end %>
  <% end %>
<% end%>



