<h1>PASSENGERS</h1>

<div class="passenger container-lg">

<table class="table table-hover">
<thead>
<tr>
<th>Passenger ID</th>
<th>Name</th>
<th>Contact</th>
<th>Edit</th>
</tr>
<thead>

<tbody>
<% @passengers.sort.each do |passenger|  %>
  <tr class="clickable-tr status-<%=passenger.is_active%>" data-path="<%= passenger_path(passenger)%>" >
    <td><%= passenger.id %></td>
    <td><%= passenger.name %>
<%= render partial: "shared/status", locals: { member: passenger, style: "badge" }%>
    </td>
    <td><%= passenger.phone_num %></td>
    <td><%= button_to "Edit Passenger", edit_passenger_path(passenger.id), method: :get %> </td>
  </tr>
<% end %>
</tbody>
</table>

</div>

<%= link_to "Add Passenger", new_passenger_path %>




