<h1><%= @passenger.name %> (DID: <%= @passenger.id %>)</h1>

<h1>Passenger Info:</h1>
<div>
  Name: <%= @passenger.name %> <br>
  Phone Number: <%= @passenger.phone_num %> <br>
  Status: <%= @passenger.is_active ? "ACTIVE" : "DEACTIVATED" %> <br>
  Total Amount Spent: $<%= @passenger.trips.map{|trip| trip.is_archive ? 0 : trip.cost}.sum %>
</div>

<div>
  <% if @passenger.trips.empty? %>
    <%= button_to "DELETE", passenger_path(@passenger.id), method: :delete %>
  <% else %>
    <%= button_to "#{@passenger.is_active ? "ACTIVE" : "INACTIVE"}", passenger_active_path(@passenger.id, {source_call: "show"}), method: :patch %>
  <% end %>

  <%= button_to "Request New Trip", passenger_newtrip_path, method: :patch %>
</div>

<br>

<% if @passenger.is_active %>
  <%= link_to "Edit Passenger Info", edit_passenger_path %>
<% end %>

<div>
  <ul>
    <% @passenger.trips.each do |trip|  %>
      <% if !trip.is_archive %>
        <li>
          Trip ID: <%= link_to "#{trip.id} #{trip.rating.nil? ? "(In-progress)" : nil}", trip_path(trip.id) %> <br> 
          Date: <%= trip.date %> <br>
          Rating: <%= trip.rating %> <br>
          Cost: $<%= trip.cost %> <br>
          Driver: <%= link_to "#{trip.driver.name} (PID: #{trip.driver_id})", driver_path(trip.driver_id) %> <br>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
