<h1><%= @passenger.name %> (DID: <%= @passenger.id %>)</h1>

<h1>Passenger Info:</h1>
<div>
  Name: <%= @passenger.name %> <br>
  Phone Number: <%= @passenger.phone_num %> <br>
  Status: <%= @passenger.is_active ? "ACTIVE" : "DEACTIVATED" %> <br>
  Total Amount Spent: $<%= @passenger.trips.map{|trip| trip.rating.nil? ? 0 : trip.cost}.sum %>
</div>

<div>
  <% if @passenger.trips.empty? %>
    <%= button_to "DELETE", passenger_path(@passenger.id), method: :delete, data: {confirm: "This will permanently delete the passenger from the datebase."} %>
  <% else %>
    <%= button_to "#{@passenger.is_active ? "CLICK TO DEACTIVATE" : "CLICK TO ACTIVATE"}", passenger_active_path(@passenger.id, {source_call: "show"}), method: :patch, data: {confirm: @passenger.trips.empty? || !@passenger.trips.last.rating.nil? ? "Are you sure you want to change the active status of the passenger?": "Trip in-progress, cannot delete passenger until trip is complete." } %>
  <% end %>

  <%# Check to see if there are any drivers available %>
  <% drivers_available = !Driver.where(:available => true).empty? %>

  <% new_trip_approved = "Are you sure you want to request a new trip?" %>

  <% new_trip_disapproved = '' %>
  <% if !@passenger.trips.empty? && @passenger.trips.last.rating.nil? %>
    <% new_trip_disapproved = "There is a trip currently in-progress. Please wait for an in-progress trip to be completed before requesting a new one. Trips can be marked completed from the individual trip page." %>
  <% else %>
    <% new_trip_disapproved = "There are currently no drivers available. Please wait for the next available driver before requesting a new trip." %>
  <% end %>

  <% if @passenger.is_active %>
    <%= button_to "Request New Trip", passenger_newtrip_path, method: :patch, data: {confirm: (@passenger.trips.empty? || !@passenger.trips.last.rating.nil?) && drivers_available ? new_trip_approved : new_trip_disapproved} %>
  <% end %>
</div>

<br>

<% if @passenger.is_active %>
  <%= link_to "Edit Passenger Info", edit_passenger_path %>
<% end %>

<div>
  <ul>
    <% @passenger.trips.each do |trip|  %>
      <li>
        Trip ID: <%= link_to "#{trip.id} #{trip.rating.nil? ? "(In-progress)" : nil}", trip_path(trip.id) %> <br> 
        Date: <%= trip.date %> <br>
        Rating: <%= trip.rating %> <br>
        Cost: $<%= trip.cost %> <br>
        Driver: <%= link_to "#{trip.driver.name} (PID: #{trip.driver_id})", driver_path(trip.driver_id) %> <br>
      </li>
    <% end %>
  </ul>
</div>
