<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Add a new driver</h3>
<p>All drivers must have a name and VIN number.</p>

<%= form_with model: @driver, class: 'create-driver' do |f| %>
  <div class="form-group"><br><%= f.label :name %><br><%= f.text_field :name, class: "form-control-lg", placeholder: "driver name"%></div>
  <div class="form-group"><%= f.label :vin %><br><%= f.text_field :vin, class: "form-control-lg", placeholder: "driver VIN" %></div>

  <%= f.submit "#{action_name} Driver", class: "driver-button" %>
<% end %>
</div>