<h1>DRIVERS</h1>

<h3>All active drivers:</h3>

<ul>
  <% @drivers %>
  <% @drivers.sort.each do |driver|  %>
    <li>
      <%= driver.name %>
      <%= driver.vin %>
      <%= driver.available ? "AVAILABLE" : "UNAVAILABLE" %> <br>
      <%= button_to "#{driver.available ? "AVAILABLE" : "UNAVAILABLE"}", driver_available_path(driver.id), method: :patch %> 
      <%= button_to "Edit Task", edit_driver_path(driver.id), method: :get %> 
      <%= button_to "Delete", driver_path(driver.id), method: :delete, data: {confirm: "Are you sure you want to delete #{driver.name}? They have completed #{driver.trips.length} number of trips"} %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Driver", new_driver_path %>
