<h1>DRIVERS</h1>

<h3>All active drivers:</h3>

<div class="driver container-lg">

<table class="table">
<thead>
<tr>
<th>Driver ID</th>
<th>Name</th>
<th>Availability</th>
<th>Edit</th>
</tr>
<thead>

<tbody>
<% @drivers.sort.each do |driver|  %>
  <tr class="clickable-tr" data-path="<%= driver_path(driver)%>" >
    <td><%= driver.id %></td>
    <td><%= driver.name %></td>
    <td><%= driver.available %></td>
    <td><%= button_to "Edit Driver", edit_driver_path(driver.id), method: :get %> </td>
  </tr>
<% end %>
</tbody>
</table>

</div>

<%= link_to "Add Driver", new_driver_path %>




