<div class="profile">
  <h3>Details for driver <%= @driver.name %> 
  <%= render partial: "shared/status", locals: { member: @driver, style: "dot" }%>
  </h3>

  <div class="container">
    <div class="row">

      <div class="col-4" >
        <div class="info-panel">
        <h4>Profile</h4>
          <ul>
            <li><span>Name:</span> <%= @driver.name %></li>
            <li><span>VIN:</span> <%= @driver.vin %> </li>
            <li><span>Status:</span> 
              <% if @driver.is_active %>
                <%= @driver.available ? "AVAILABLE" : "UNAVAILABLE" %>
              <% else %>
                <%= "DEACTIVATED" %>
              <% end %> </li>
            <li><span>Total Earnings:</span> $<%= @driver.earnings %> </li>
            <li><span>Average Rating:</span> <%= @driver.average_rating %> </li>
          </ul>

          <ul>

        <% if @driver.is_active %>
          <li><%= link_to "Edit driver info", edit_driver_path %></li>
        <% end %>
        
       
          <% if @driver.trips.empty? %>
            <%= link_to "Delete driver", driver_path(@driver.id), method: :delete, data: {confirm: "This will permanently delete the driver from the datebase."} %>
          <% else %>
            <%= link_to "#{@driver.is_active ? "Deactivate driver" : "Activate driver"}", driver_active_path(@driver.id, {source_call: "show"}), method: :patch, data: {confirm: "Are you sure you want to change the active status of the driver? #{@driver.name} has completed #{@driver.trips.length} trips and earned $#{@driver.earnings}."} %>
          <% end %>
          </ul>
        </div>

        
      </div>

      <div class="col-8">
           <%= render partial: "trips/trips_details", locals: { member: @driver } %>
      </div>
    </div>  
  </div>
</div>


