<h1>Specific Driver</h1>

<h1>Driver Info:</h1>
<div>
  Name: <%= @driver.name %> <br>
  VIN: <%= @driver.vin %> <br>
  Status: <%= !@driver.is_active ? "DEACTIVATED" : @driver.available ? "AVAILABLE" : "UNAVAILABLE" %>
</div>

<br>

<div>
  <ul>
    <% @driver.trips.each do |trip|  %>
      <li>
        Trip ID: <%= trip.id %> <br> 
        Date: <%= trip.date %> <br>
        Rating: <%= trip.rating %> <br>
        Cost: $<%= trip.cost %> <br>
        Passenger: <%= "#{trip.passenger.name} (ID: #{trip.passenger_id})" %> <br>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Edit Driver Info", edit_driver_path %>