<div class="profile">
  <h1><%= @driver.name %> (DID: <%= @driver.id %>)</h1>

  <div class="container">
    <div class="row">

      <div class="col profile">

        <h3>details</h3>
          <ul>
            <li><span>Name:</span> <%= @driver.name %></li>
            <li><span>VIN:</span> <%= @driver.vin %> </li>
            <li><span>Status:</span> <%= !@driver.is_active ? "DEACTIVATED" : @driver.available ? "AVAILABLE" : "UNAVAILABLE" %> </li>
            <li><span>Total Earnings:</span> $<%= @driver.earnings %> </li>
            <li><span>Average Rating:</span> <%= @driver.average_rating %> </li>
          </ul>

        <% if @driver.is_active %>
          <%= link_to "Edit Driver Info", edit_driver_path %>
        <% end %>

        <div>
          <% if @driver.trips.empty? %>
            <%= button_to "DELETE", driver_path(@driver.id), method: :delete, data: {confirm: "This will permanently delete the driver from the datebase."} %>
          <% else %>
            <%= button_to "#{@driver.is_active ? "CLICK TO DEACTIVATE" : "CLICK TO ACTIVATE"}", driver_active_path(@driver.id, {source_call: "show"}), method: :patch, data: {confirm: "Are you sure you want to change the active status of the driver? #{@driver.name} has completed #{@driver.trips.length} trips and earned $#{@driver.earnings}."} %>
          <% end %>
        </div>
      </div>

      <div class="col-6">
           <%= render partial: "trips/trips_details", locals: { member: @driver, alt_info: "Passenger" } %>
      </div>
    </div>  
  </div>
</div>


